@import 'sass-bootstrap/lib/bootstrap';
@import '_fonts';
@import 'normalize.css';
//@import 'icons/*.png';
//@include all-icons-sprites;
//Color scheme

$red: #c60015;
$dark-grey: #1b1b1b;
$grey: #656565;
$teaser-grey: #4c4c4c;
$light-grey: #808080;
$ultra-light-grey: #a5a5a5;
$grey-bg: #ededed;

$iphone: 450px;

//Base

body{
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  //-webkit-overflow-scrolling: touch;
  @include transition(all .3s ease);
}
h1 {
  font-size: 29px;
  font-family: serveroff;
  line-height: 36px;
  border-bottom: 1px solid #d9d9d9;
  @media screen and (max-width: 700px) {
    padding-left: 10px;
  }
}
h2 {
  font-size: 46px;
  line-height: 32px;
  font-family: shelly;
  margin-bottom: 28px;
  &.white{
    color: white;
  }
}
h3{
  position: relative;
  padding-left: 12px;
  font-family: serveroff;
  font-size: 23px;
  letter-spacing: .5em;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: $red;
    width: 2px;
    height: 17px;
    left: 0px;
    top: 8px;
  }
}
h4{
  font-family: serveroff;
  font-size: 22px;
}
h5{
  font-family: PT Sans, sans-serif;
  font-size: 19px;
  margin: 14px 0 7px 0;
  color: $teaser-grey;
  font-weight: 100;
}
h6{
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  margin: 14px 0 7px 0;
  color: $ultra-light-grey;
  font-weight: 100;
}

a{
  font-family: serveroff;
  font-size: 21px;
  color: $grey;
  &:hover, &._active{
    color: $dark-grey;
    text-decoration: none;
  }
  &.white{
    color: $ultra-light-grey;;
    &:hover{
      color: white;
    }
  }
  &.black{
    color: black;
    &:hover{
      text-decoration: underline;
    }
  }
}

p{
  font-family: serveroff;
  color: $grey;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  &.dark{
    color: black;
  }
  &.white{
    color: $ultra-light-grey;
    span{
      color: white;
    }
  }
  &.price{
    font-family: blackoak;
    color: black;
    &.small{
      font-size: 18px;
    }
    &.medium{
      font-size: 22px;
    }
    &.huge{
      font-size: 25px;
    }
  }
}
button{
  background: black;
  text-align: center;
  padding: 9px 24px;
  color: white;
  border: 0;
  font-family: serveroff;
  font-size: 22px;
  &:hover{
    background: $red;
  }
  &.huge{
    font-size: 28px;
    padding: 14px 40px;
  }
  @media screen and (max-width: 700px){
    width: 100%;
  }
}

//Helpers

#h-basket-overlay{
  position: fixed;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 19;
}
.h-mobile-only{
  display: none;
  @media screen and (max-width: $iphone){
    display: block;
  }
}
.h-stick-right{
  float: right;
}
//Grid

.grid1{
  width: 640px;
  float: left;
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}
.grid2{
  width: 320px;
  float: left;
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}
.grid3{
  width: 240px;
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}
.grid4{
  width: 720px;
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}
.grid5{
  width: 480px;
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}

//Modal

.r-modal{
  display: none;
}

//Forms
input{
  @include box-sizing(border-box);
}
input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="email"], textarea{
  border: 0;
  height: 40px;
  line-height: 30px;
  width: 40%;
  @include box-shadow(#ccc 0 0 3px inset);
  @media screen and (max-width: 700px){
    border: 1px solid #ccc;
    width: 100%;
  }
}
input[type="submit"]{
  background: black;
  border: 0;
  color: white;
  font-family: serveroff;
  font-size: 22px;
  padding: 10px 26px;
  &:hover{
    background: $red;
  }
  @media screen and (max-width: $iphone){
    width: 100%;
  }
}

//Tabs

.r-tabs{
  .r-tab{
    visibility: hidden;
    height: 0;
    opacity: 0;
    @include transition(all .3s ease);
    &._active{
      visibility: visible;
      opacity: 1;
      height: auto;
    }
  }
}


//Common

.c-container{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.с-load-more{
  position: relative;
  text-align: center;
  width: 110px;
  margin: 40px auto 0 auto;
  cursor: pointer;
  opacity: .3;
  @include transition(all .3s ease);
  &:hover{
    opacity: .6;
    i.more{
      @include rotate(180deg);
    }
  }
}

//Visual

.spacing{
  letter-spacing: .5em;
}
.red{
  color: $red;
}

//Icons
i{
  display: block;
  font-style: normal;
  background-repeat: no-repeat;
  &.cross{
    width: 22px;
    height: 22px;
    background-image: url(../images/icons/cross22x22.png);
    opacity: .2;
    cursor: pointer;
    @include transition(all .3s ease);
    &:hover{
      opacity: .5;
      //@include rotate(180deg);
    }
  }
  &.cross-huge{
    width: 60px;
    height: 60px;
    background-image: url(../images/icons/cross60x60.png);
    opacity: .2;
    cursor: pointer;
    @include transition(all .3s ease);
    &:hover{
      opacity: .5;
      //@include rotate(180deg);
    }
  }
  &#logo{
    display: inline-block;
    width: 98px;
    height: 77px;
    background-image: url(../images/icons/logo.png);
  }
  &.design{
    display: inline-block;
    width: 77px;
    height: 77px;
    background-image: url(../images/icons/design.png);
    opacity: .6;
  }
  &.quality{
    display: inline-block;
    width: 77px;
    height: 77px;
    background-image: url(../images/icons/quality.png);
    opacity: .6;
  }
  &.service{
    display: inline-block;
    width: 77px;
    height: 77px;
    background-image: url(../images/icons/service.png);
    opacity: .6;
  }
  &.more{
    width: 42px;
    height: 42px;
    background-image: url(../images/icons/more.png);
    background-size: cover;
    margin: 0 auto 5px auto;
    @include transition(all .3s ease);
  }
  &.item-info{
    width: 46px;
    height: 46px;
    background-image: url(../images/icons/item_info.png);
  }
  &.item-delivery{
    width: 46px;
    height: 46px;
    background-image: url(../images/icons/item_delivery.png);
  }
  &.item-guarantee{
    width: 46px;
    height: 46px;
    background-image: url(../images/icons/item_guarantee.png);
  }
  &.arrow-small{
    width: 14px;
    height: 27px;
    &.left{
      background-image: url(../images/icons/arrow_left_small.png);
    }
    &.right{
      background-image: url(../images/icons/arrow_right_small.png);
    }
  }
  &.arrow-vertical-small{
    width: 13px;
    height: 7px;
    &.up{
      background-image: url(../images/icons/arrow_top_small.png);
    }
    &.down{
      background-image: url(../images/icons/arrow_bottom_small.png);
    }
  }
  &.order-succeed{
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/order-succeed.png);
  }
  &.order-aborted{
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/order-aborted.png);
  }
  &.order-progress{
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/order-progress.png);
  }
  &.quant{
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 4px;
    cursor: pointer;
    color: #c7c7c7;
    @include transition(all .3s ease);
    &:hover{
      color: $ultra-light-grey;
    }
    &.plus{
      top: -26px;
    }
    &.minus{

    }
  }
  &.social{
    width: 64px;
    height: 64px;
    &.facebook{
      background-image: url(../images/icons/facebook.png);
    }
    &.facebook_grey{
      background-image: url(../images/icons/facebook_grey.png);
    }
    &.vkontakte{
      background-image: url(../images/icons/vkontakte.png);
    }
    &.vkontakte_grey{
      background-image: url(../images/icons/vkontakte_grey.png);
    }
    &.twitter{
      background-image: url(../images/icons/twitter.png);
    }
    &.twitter_grey{
      background-image: url(../images/icons/twitter_grey.png);
    }
    &.instagram{
      background-image: url(../images/icons/instagram.png);
    }
    &.instagram_grey{
      background-image: url(../images/icons/instagram_grey.png);
    }
  }
  &.phone-small{
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/phone_20x20.png);
  }
  &.email-small{
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/email_20x20.png);
  }
  &.address-small{
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/address_20x20.png);
  }
}

//Header

header{
  position: relative;
  height: 100px;
  width: 100%;
  background: white;
  z-index: 50;
  @include box-shadow(#ccc 0 0 7px);
  @include transition(all .3s ease);
  &.header-fixed{
    position: fixed;
    opacity: .7;
    &:hover{
      opacity: 1;
    }
  }
  #logo{
    position: relative;
    top: 12px;
  }
  #login-block{
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100px;
    a{
      display: block;
      position: absolute;
      right: 0;
      top: 43px;
      font-size: 18px;
      color: $red;
      &:hover{
        text-decoration: underline;
      }
      i{
        display: inline-block;
        position: relative;
        top: -3px;
        width: 0px;
        border-top: 5px solid $red;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-left: 3px;
      }
    }
  }
  #menu-toggle{
    display: none;
  }
  nav{
    position: absolute;
    top: 0;
    left: 300px;
    width: 535px;
    height: 100%;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      opacity: .85;
      li{
        padding: 0;
        display: inline-block;
        &#login-mobile{
          display: none;
        }
        ul{
          display: block;
          position: absolute;
          background: white;
          padding: 10px 0;
          visibility: hidden;
          @include box-shadow(#ccc 0 0 5px);
          opacity: 0;
          width: 150px;
          top: 90px;
          @include transition(all .3s ease);
          font-family: serveroff;
          li{
            display: block;
            padding: 10px;
            color: $light-grey;
            cursor: pointer;
            @include transition(all .3s ease);
            @include box-sizing(border-box);
            &:hover{
              padding-left: 15px;
              color: black;
            }
          }
        }
        &:hover{
          @include box-sizing(border-box);
          a{
            color: black;
          }
          ul{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    a{
      display: inline-block;
      font-size: 24px;
      padding: 0 35px;
      height: 100px;
      line-height: 100px;
      color: black;
      &#login{
        display: block;
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 18px;
        &:hover{
          text-decoration: underline;
        }
        i{
          display: inline-block;
          position: relative;
          top: -4px;
          width: 0px;
          border-top: 5px solid $red;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }
    }
  }
  #basket-thumb{
    position: absolute;
    width: 70px;
    height: 100px;
    top: 0;
    right: 0;
    &:hover{
      #basket-round{
          //@include rotate(360deg);
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }
    }
    #basket-round{
      position: absolute;
      height: 44px;
      width: 44px;
      top: 28px;
      @include border-radius(22px);
      @include box-shadow($red 0 0 2px);
      background: $red url(../images/icons/basket_small.png) 7px 4px no-repeat;
      @include transition(all .3s ease);
    }
    #quantity{
      position: absolute;
      color: $red;
      font: bold 21px Arial;
      top: 14px;
      right: 17px;
    }
  }
  #basket-preview{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    right: 0px;
    top: 85px;
    width: 290px;
    min-height: 100px;
    z-index: 20;
    @include scale(.1);
    @include transition(all .3s ease);
    @include box-shadow(#ccc 0 0 7px);
    &._opened{
      visibility: visible;
      @include scale(1);
      opacity: 1;
    }
    .bg{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: white;
      opacity: .85;
      z-index: 2;
    }
    .body{
      position: relative;
      z-index: 3;
      padding: 15px 30px;
      .cross{
        position: absolute;
        top: 22px;
        right: 24px;
      }
      img{
        width: 75px;
      }
      table{
        tr{
          td{
            &:nth-child(1){
              padding: 10px 0;
              padding-right:22px;
            }
          }
        }
      }
      .total{
        position: relative;
        text-align: right;
        .total-heading{
          position: absolute;
          top: 0;
          font-family: serveroff;
          font-size: 19px;
          color: $ultra-light-grey;
          font-weight: 600;
        }
      }
      .interaction{
        position: relative;
        text-align: right;
        padding-bottom: 8px;
        a.black{
          text-align: left;
          position: absolute;
          display: block;
          font-size: 16px;
          top: 8px;
        }
      }
    }
  }

  //Media queries
  @media screen and (max-width: $iphone) {
    height: 70px;
    &.header-fixed{
      opacity: 1;
    }
    #logo{
      left: 50%;
      margin-left: -49px;
      top: 0;
      @include scale(.7);
    }
    #login-block{
      display: none;
    }
    #menu-toggle{
      display: block;
      position: absolute;
      top: 6px;
      left: 20px;
      width: 40px;
      height: 80px;
      cursor: pointer;
      @include scale(.7);
      div{
        width: 100%;
        height: 7px;
        background: black;
        margin: 8px 0;
      }
    }
    #basket-preview{
      width: 100%;
      top: 70px;
      @include box-shadow(#ccc 0 0 0);
      border-top: 1px solid #e4e4e4;
    }
    #basket-thumb{
      @include scale(.8);
      top: -15px;
    }
    nav{
      position: absolute;
      top: 70px;
      display: block;
      width: 100%;
      left: 0px;
      visibility: hidden;
      &._opened{
        visibility: visible;
      }
      ul{
        background: black;
        li{
          &#login-mobile{
            display: block;
            a{
              color: $red !important;
              font-weight: bold;
            }
          }
          display: block;
          width: 100%;
          height: auto;
          line-height: 50px;
          color: white !important;
          border-bottom: 1px solid $grey;
          &._opened{
            ul, &:hover ul{
              display: block;
            }
            .dropdown-arrow{
              border-top: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 5px solid white;
            }
          }
          .dropdown-arrow{
            position: absolute;
            opacity: .5;
            width: 0;
            right: 12px;
            top: 23px;
            border-top: 5px solid white;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
          a{
            line-height: 50px;
            height: auto;
            color: white !important;
            display: block;
          }
          ul, &:hover ul{
            position: relative;
            display: none;
            height: 0;
            opacity: 1;
            top: 0;
            width: 100%;
            height: auto;
            color: white !important;
            padding: 0;
            a{
              color: white !important;
            }
            li{
              position: static;
              height: auto;
              padding: 0;
              color: #d1d1d1 !important;
              border-left: 3px solid red;
              background: $dark-grey;
              font-size: 18px;
              @include box-sizing(border-box);
              padding-left: 40px;
              &:last-of-type{
                border-bottom: 0;
              }
              &:hover{
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

//Modal

.r-modal{
  position: relative;
  width: 600px;
  background: white;
  @include box-sizing(border-box);
  padding: 40px;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  @include box-shadow(0 0 7px #ccc);
  z-index: 101;
}

.modal-backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 101;
  visibility: hidden;
  @include transition(all .3s ease);
  //@include scale(0);
  .cross-huge{
    right: 24px;
    top: 24px;
    position: absolute;
  }
  &._opened{
    @include scale(1);
    opacity: .9;
    visibility: visible;
  }
}

//Slider

#slider{
  width: 100%;
  border-bottom: 7px solid white;
  position: relative;
}

//Teaser

#teaser{
  height: 230px;
  background: $grey_bg;
  clear: both;
  .item{
    float: left;
    text-align: center;
    padding-top: 35px;
    &:nth-child(1){
      width: 30%;
    }
    &:nth-child(2){
      width: 40%;
    }
    &:nth-child(3){
      width: 30%;
    }
    p{
      font-size: 17px;
    }
    .wrap{
      position: relative;
      width: 77px;
      height: 77px;
      margin: 0 auto;
      &:hover{
        .more-info{
          visibility: visible;
          top: 12px;
          opacity: .8;
          &.left, &.right{
            @include translate(0, 0);
          }
        }
      }
      .more-info{
        position: absolute;
        width: 140px;
        background: black;
        padding: 20px;
        text-align: left;
        color: #999;
        font-family: serveroff;
        font-size: 17px;
        opacity: 0;
        visibility: hidden;
        font-weight: 300;
        top: 0px;
        @include transition(all .3s ease);
        &.right{
          left: 90px;
          @include translate(-20px, 0);
        }
        &.left{
          left: -195px;
          @include translate(20px, 0);
        }
        i{
          display: block;
          position: absolute;
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
          top: 17px;
          &.left{
            border-right: 9px solid black;
            left: -9px;
          }
          &.right{
            border-left: 9px solid black;
            right: -9px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $iphone) {
    display: none;
    .item{
      p{
        display: none;
      }
    }
  }
}

//Categories

#categories{
  background: $grey_bg;
  height: 230px;
  clear: both;
  padding-top: 37px;
  .item{
    position: relative;
    overflow: hidden;
    width: 234px;
    height: 160px;
    margin-right: 8px;
    float: left;
    cursor: pointer;
    &:last-of-type{
      margin-right: 0;
    }
    img{
      width: 100%;
      height: 100%;
      @include transition(all .3s ease);
    }
    .heading{
      position:absolute;
      width: 100%;
      background: black;
      padding: 5px;
      opacity: .6;
      color: white;
      height: 40px;
      line-height: 40px;
      @include box-sizing(border-box);
      @include transition(all .3s ease);
      top:-40px;
    }
    &:hover{
      .heading{
        top: 0;
        z-index: 1000;
      }
      img{
        @include scale(1.2);
      }
    }
  }
  @media screen and (max-width: 700px) {
    padding-top: 20px;
    overflow-y: hidden;
    height: auto;
    padding-bottom: 20px;
    .item{
      margin: 0 auto;
      width: 290px;
      height: 190px;
      float: none;
      &:last-of-type{
        margin: 0 auto;
      }
      .heading{
        top: 0px;
      }
    }
  }
}


//About


#about{
  padding: 50px 0;
  background: white;
  clear: both;
  overflow: hidden;
  h3{
    margin-bottom: 30px;
  }
  .production{
    ul {
      list-style-type: none;
      li {
        clear: both;
        padding: 40px 60px 40px 0;

        img {
          width: 170px;
          height: 170px;
          @include border-radius(85px);
          @include box-shadow(black 3px 5px 10px inset);
          float: left;
          margin-right: 30px;
        }

          h5 {
            padding: 14px 0;
          }
          p {
            font-size: 19px;
          }

      }
    }
  }
  .blog{
    h3{
      margin-bottom: 64px;
    }
    p{
      font-size: 17px;
      &.further{
        text-align: right;
        a{
          font-family: PT Sans, sans-serif;
          color: black;
          i{
            display: inline-block;
            position: relative;
            width: 0;
            border-top: 9px solid $red;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-left: 5px;
            top: 0px;
            @include transition(top .3s cubic-bezier(0.905, -0.445, 0.200, 1.650));
          }
          &:hover{
            text-decoration: underline;
            i{
              top: 3px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $iphone) {
    width: 100%;
    h3{
      left: 20px;
    }
    ul {

      li {
        border-bottom: 1px solid $grey-bg;
        padding: 60px 20px !important;

        img {
          display: block;
          float: none !important;
          margin: 0 auto !important;
        }

        h5, p{
          text-align: center;
        }
        h5{
          font-size: 24px;
          margin-top: 20px;
        }
      }
    }
    .blog{
      width: 100%;
      padding: 20px;
      @include box-sizing(border-box);
      .item{
        position: relative;
        margin-top: 50px;
        margin-bottom: 30px;
        h6{
          left: 0px;
          font-family: PT Sans, sans-serif;
          font-weight: 900;
          font-size: 30px;
          color: white;
          top: -18px;
          background: #e9e9e9;
          padding: 8px;
          margin-bottom: 24px;
        }
      }
    }
  }
}


//Footer

footer{
  position: relative;
  background: $dark-grey;
  border-top: 7px solid $grey-bg;
  clear: both;
  height: 400px;
  overflow: hidden;
  padding-top: 40px;
  .c-container{
    height: 100%;
  }
  .grid3{
    position: relative;
    width: 240px;
    float: left;
    h3{
      color: white;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    a{
      font-size: 16px;
    }
  }
  #bottom{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  table.contacts{
    width: 100%;
    tr{
      td{
        padding-bottom: 10px;
        p{
          color: $ultra-light-grey;
          text-transform: uppercase;
        }
        a{
          color: $ultra-light-grey;
          text-transform: uppercase;
          &:hover{
            color: white;
            text-decoration: underline;

          }
        }
        &:nth-child(1){
          vertical-align: top;
          width: 15%;
          i{
            opacity: .2;
          }
        }
        &:nth-child(2){
          width: 85%;
        }
      }
    }
  }
  .socials{
    ul{
      position: relative;
      top: 50px;
      width: 100%;
      list-style: none;
      clear: both;
      li{
        width: 240px;
        float: left;
      }
    }
    a{
      display: block;
      width: 64px;
      height: 64px;
      position: relative;
      margin: 0 auto;
      i{
        position: absolute;
        top: 0;
        left: 0;
        @include transition(opacity .3s ease);
        &._under{
          z-index: 1;
        }
        &._over{
          z-index: 2;
          opacity: 0;
        }
      }
      &:hover{
        ._over{
          opacity: 1;
        }
      }
    }
  }

  //Media queries
  @media screen and (max-width: 700px) {
    height: 500px;
    min-height: 300px;
    h2{
      margin-top: 30px;
    }
    .grid3{
      width: 100%;
    }
    #bottom{
      position: relative;
      top: 40px;
      border-top: 1px solid #373737;
      padding: 20px 0 0 20px;
    }
    .desktop-only{
      display: none;
    }
    table.contacts{
      width: 100%;
      tr{
        td{
          p{
            font-size: 22px;
          }
          a{
            font-size: 22px;
          }
          &:nth-child(1){
            width: 20%;
            i{
              margin: 0 auto;
            }
          }
          &:nth-child(2){
            width: 80%;
            padding-right: 30px;
          }
        }
      }
    }
    .socials{
      ul{
        overflow: hidden;
        top: 20px;
        margin-bottom: 50px;
        li{
          width: 25%;
          i._over{
            opacity: 1;
          }
        }
      }
    }
  }

}



@import "_catalog.scss";
@import "_item_page.scss";
@import "_checkout.scss";
@import "_blog.scss";
@import "_cabinet.scss";
@import "plugins.css";